.textbit-content-menu {
  display: none;
  position: absolute;
  left: -10000px;
  box-sizing: border-box;
  font-size: 0.9rem;
  line-height: 2.3rem;
  letter-spacing: 0.03rem;

}

.textbit-content-menu svg {
  vertical-align: middle;
  color: hsl(var(--popover-foreground));
}

/* Visible menu action button */
.textbit-content-menu>a {
  height: 2rem;
  width: 2rem;
  border-radius: 2rem;
  cursor: pointer;
  display: inline-block;
  user-select: none;
  transition: all 0.1s cubic-bezier(.25, .8, .25, 1);

  background-color: hsl(var(--popup));
  color: hsl(var(--popup-foreground));
  border: 1px solid hsl(var(--border));

  /* All for centering svg child */
  display: flex;
  flex-direction: row;
  flex-basis: fit-content;
  align-items: center;
  justify-content: center;
}


/* Content menu content */
.textbit-content-menu>div {
  display: none;
  position: absolute;
  top: 20px;
  left: 26px;
  min-width: 16rem;
  padding: 0 3px;
  border-radius: calc(var(--radius) * 0.8);
  background-color: hsl(var(--popover));
  box-shadow: 0px 3px 10px -6px hsl(var(--primary));
}

.dark .textbit-content-menu>div {
  box-shadow: none;
}

.textbit-content-menu.open>div {
  display: block;
}


/* Tool groups */
.textbit-content-menu .textbit-tool-group {
  display: flex;
  flex-direction: column;
}


/* Separator between tool groups */
.textbit-content-menu .textbit-tool-group::after {
  content: "";
  background-color: hsl(var(--border));
  align-self: stretch;
  margin: 3px;
  height: 1px;
}

.textbit-content-menu .textbit-tool-group:first-child {
  padding-top: 3px;
}

.textbit-content-menu .textbit-tool-group:last-child {
  padding-bottom: 3px;
}

.textbit-content-menu .textbit-tool-group:last-child::after {
  display: none;
}


/* Content menu items */
a.textbit-content-menu-item {
  display: grid;
  grid-template-columns: 35px minmax(max-content, 220px) 90px;
  grid-column-gap: 0;
  grid-row-gap: 0px;
  font-family: var(--font-family-ui);
  color: hsl(var(--popover-foreground));
  border-radius: calc(var(--radius) * 0.8 - 3px);
  cursor: pointer;
}

a.textbit-content-menu-item:hover {
  background: hsl(var(--secondary));
}

a.textbit-content-menu-item span {
  padding-left: 7px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  max-width: 200px;
}

a.textbit-content-menu-item span.textbit-content-menu-item-icon {
  opacity: 0;
  position: relative;

  /* All for centering svg child */
  display: flex;
  flex-direction: row;
  flex-basis: fit-content;
  align-items: center;
  justify-content: center;
}

a.textbit-content-menu-item span.textbit-content-menu-item-icon.active {
  opacity: 0.8;
  font-weight: bold;
}

a.textbit-content-menu-item:hover span.textbit-content-menu-item-icon {
  opacity: 0.8;
}


a.textbit-content-menu-item span:last-child {
  letter-spacing: 0.1rem;
  text-align: right;
  padding: 0 10px;
  font-size: 90%;
  opacity: 0.8;
}
