.textbit-inline-menu {
  opacity: 0;
  position: absolute;
  display: flex;
  flex-direction: row;
  top: -10000px;
  left: -10000px;
  margin-top: -8px;
  transition: opacity 0.1s;
  border-radius: calc(var(--radius) * 0.8);
  background-color: hsl(var(--popover));
  box-shadow: 0px 3px 10px -6px hsl(var(--primary));
}

.dark .textbit-inline-menu {
  box-shadow: none;
}

/* Arrow indicator */
.textbit-inline-menu:after {
  content: "";
  width: 0px;
  height: 0px;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-top: 8px solid hsl(var(--popover));
  position: absolute;
  bottom: -7px;
  left: 50%;
  margin-left: -8px;
}

/* Tool group */
.textbit-inline-menu .textbit-tool-group {
  display: flex;
  flex-direction: row;
  padding: 3px 0px;
}

/* Separator between tool groups */
.textbit-inline-menu .textbit-tool-group::after {
  content: "";
  background-color: hsl(var(--border));
  align-self: stretch;
  margin: 6px 2px;
  width: 1px;
}

.textbit-inline-menu .textbit-tool-group:first-child {
  padding-left: 3px;
}

.textbit-inline-menu .textbit-tool-group:last-child {
  padding-right: 3px;
}

.textbit-inline-menu .textbit-tool-group:last-child::after {
  display: none;
}

/* Items in tool groups */
.textbit-inline-menu .textbit-tool-group .textbit-tool {
  display: block;
  text-align: center;
  padding: 6px 8px;
  cursor: pointer;
  font-size: 1.3rem;
  position: relative;
  border-radius: calc(var(--radius) * 0.8 - 3px);
}

.textbit-inline-menu .textbit-tool-group .textbit-tool:hover {
  background: hsl(var(--secondary));
}

.textbit-inline-menu .textbit-tool-group .textbit-tool>svg {
  vertical-align: middle;
  color: hsl(var(--popover-foreground));
}

.textbit-inline-menu .textbit-tool-group .textbit-tool>em {
  position: absolute;
  height: 3px;
  left: 10%;
  right: 10%;
  bottom: 3px;
  border-radius: calc(var(--radius) * 0.8 - 4px)
}

.textbit-inline-menu .textbit-tool-group .textbit-tool>em.active {
  background-color: hsl(var(--primary));
  opacity: 0.5;
}
