.textbit-image-container {
    height: auto;
    position: relative;
}

.textbit-image-container.appear-dimmed {
    height: 10rem;
    overflow: hidden;
}

.textbit-image-container img {
    display: block;
    object-fit: cover;
}