.mimer-editor .parent.blockquote>div {
    padding-left: 1.6rem;
    border-left: 5px solid var(--b-base);
}

.mimer-editor .parent.blockquote>div>div:first-child {
    line-height: 180%;
    font-variation-settings: "wght" 200;
}