.textbit-editor-footer {
  position: sticky;
  bottom: 0;
  display: flex;
  column-gap: 1rem;
  flex-direction: row;
  justify-content: right;
  line-height: 2rem;
  height: 2rem;
  border-bottom: none !important;
  border-left: none !important;
  border-right: none !important;
  text-align: right;
  padding: 0.5rem 1rem;
  background: hsl(var(--background));
}
