.textbit-tool.core\/link-input {
  padding-left: 3px;
  background-color: hsl(var(--popover)) !important;
  padding: 0 !important;
  cursor: default;
}

.textbit-tool.core\/link-input:hover {
  background-color: hsl(var(--popover)) !important;
}

.core\/link-input input[type="text"] {
  font-family: var(--font-family-ui);
  padding: 6px 10px;
  margin: 3px;
  border: 1px solid hsl(var(--border));
  border-radius: calc(var(--radius) * 0.8 - 3px);
  color: hsl(var(--foreground));
}

.core\/link-input input[type="text"]:focus {
  outline: 1px solid hsl(var(--ring));
}

.dark .core\/link-input input[type="text"] {
  background-color: hsl(var(--input));
}

.core\/link a {
  color: hsl(var(--primary));
}
