.textbit-editor {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  position: relative;
  height: 100%;
  background-color: var(--background);
  color: hsl(var(--foreground));
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.textbit-drag-container {
  overflow-x: scroll;
  flex: 1;
}

.textbit-drag-container .editor-drop-marker {
  display: block;
  position: absolute;
  overflow-x: scroll;
  height: 2px;
  margin-top: -1px;
  left: 4rem;
  right: 1.8rem;
  background: hsl(var(--accent-foreground));
  opacity: 0;
  transition: opacity 0.1s;
}

.textbit-drag-container .editor-drop-marker.active {
  opacity: 0.8;
}


.textbit-editor div[role="textbox"] {
  height: 100%;
  min-height: 200px;
  overflow-x: scroll;
}


/**
 * Parent elements and block focus
 */
.textbit-editor .textbit-parent {
  padding: 0.4rem 3.6rem 0.4rem 4.2rem;
}

.textbit-editor .textbit-parent .textbit-block {}

.textbit-editor .textbit-parent .textbit-block.textbit-active {
  outline: 2px solid hsl(var(--secondary));
  border-radius: calc(var(--radius) * 0.5);
}

/**
 * Droppable styling
 */
.textbit-editor .droppable-block {
  position: relative;
}

.textbit-editor.textbit-drag-over .textbit-parent.block {
  pointer-events: none;
}

.textbit-editor .droppable-block:first-child .textbit-parent {
  padding-top: 1.6rem;
}

.textbit-editor .droppable-block:last-child .textbit-parent {
  padding-bottom: 1.6rem;
}

.textbit-editor .droppable-block {
  position: relative;
  width: 100%;
  box-sizing: border-box;
}

.textbit-editor.drag-over .droppable-block>div {
  pointer-events: none;
}

/**
 * Resusable element transitions
 */
.textbit-editor .parent .appear-transitions {
  transition:
    padding 0.4s,
    height 0.6s,
    opacity 0.6s ease-in;
}

.textbit-editor .parent .appear-dimmed {
  opacity: 0.3;
}
