:root {
    --font-family-serif: "Source Serif Pro", Georgia, serif;
    --font-family-sans-serif: InterVariable, "Helvetica Neue", Helvetica, sans-serif;
    --font-family-text: "Source Serif Pro", Georgia, serif;

    --font-weight-light: 300;
    --font-weight-normal: 400;
    --font-weight-semibold: 500;
    --font-weight-bold: 700;
    --font-weight-bolder: 900;
    --font-size: 1.2rem;
    --line-height: 1.5;
    --letter-spacing: -0.003em;

    /** UI theme defaults **/
    --font-family-ui: Roboto, sans-serif;


    /** Color theme **/
    --bg-base: rgb(255, 255, 255);
    --fg-base: rgb(15, 23, 42);
    --bg-base-hover: rgba(190, 190, 190, 0.3);
    --bg-base-focus: rgba(190, 190, 190, 0.3);

    --bg-base-10: rgb(255, 255, 255);
    --bg-base-20: rgb(255, 255, 255);
    --bg-base-30: rgb(255, 255, 255);

    --s-base: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    --s-base-10: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    --s-base-20: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
    --s-base-30: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);

    --b-base: rgba(200, 200, 200, 0.7);
    --b-weak: rgba(200, 200, 200, 0.3);
    --r-base: 6px;
    --r-less: 3px;

    --bg-primary: rgb(100, 102, 233);
    --fg-primary: rgb(245, 245, 245);
    --bg-primary-hover: hsl(221.2 83.2% 53.3%);
    --fg-primary-hover: rgb(255, 255, 255);

    --fg-link: rgb(62, 116, 233);
    --fg-error: rgb(233, 62, 62);
}


[data-theme="dark"] {
    /** Color theme **/
    --bg-base: rgb(25, 23, 29);
    --fg-base: rgb(209, 210, 211);
    --bg-base-hover: rgba(190, 190, 190, 0.3);
    --bg-base-focus: rgba(190, 190, 190, 0.3);

    --bg-base-10: rgb(27, 29, 33);
    --bg-base-20: rgb(35, 37, 41);
    --bg-base-30: rgb(41, 44, 46);

    --s-base: none;
    --s-base-10: none;
    --s-base-20: none;
    --s-base-30: none;

    --b-base: rgb(81, 83, 87);
    --b-weak: rgb(48, 49, 54);
    --r-base: 6px;
    --r-less: 3px;

    --bg-primary: rgb(53, 117, 163);
    --fg-primary: rgb(245, 245, 245);
    --bg-primary-hover: rgb(71, 144, 196);
    --fg-primary-hover: rgb(255, 255, 255);

    --fg-link: rgb(53, 117, 163);
    --fg-error: rgb(233, 62, 62);
}