.core\/image-container {
  height: auto;
  position: relative;
}

.core\/image-container.appear-dimmed {
  height: 10rem;
  overflow: hidden;
}

.core\/image-container img {
  display: block;
  object-fit: cover;
}

.core\/image-input {
  display: flex;
  margin-top: 0.5rem;
  padding: 0.5rem 0.5rem;
  background-color: hsl(var(--input));
  font-family: var(--font-family-sans-serif, InterVariable, "Helvetica Neue", Helvetica, sans-serif);
  border: 1px solid hsl(var(--border));
  border-radius: calc(var(--radius) * 0.5);
  font-size: 90%;
}

.core\/image-input :focus {
  outline: 1px solid pink;
}

.core\/image-input :active {
  outline: 1px solid yellow;
}

.core\/image-input :target {
  outline: 1px solid blue;
}

.core\/image-input label {
  opacity: 0.8;
  font-family: var(--font-family-ui);
  flex: 0 0 55px;
}
