/**
 * Element default text styling
 */
.textbit-editor .textbit-parent.text,
.textbit-editor .textbit-parent.textblock,
.textbit-editor .textbit-parent.block {
  font-family: var(--font-family-serif, "Source Serif Pro", Georgia, serif);
  font-size: 1.1rem;
  line-height: 1.5;
  letter-spacing: -0.003em;
}

.textbit-editor .textbit-parent .textbit-block.textbit-active {
  outline: 2px solid hsl(var(--secondary));
  border-radius: calc(var(--radius) * 0.5);
}

.textbit-editor .slate-root:focus {
  outline: none;
}
