.theme-switch-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 17px;
  line-height: 17px;
  font-size: 12px;
  gap: 20px;
  padding: 20px 8px;
  margin-left: 4.2rem;
  margin-right: 3.6rem;
}

.theme-switch-wrapper {
  display: flex;
  align-items: center;
}

.theme-switch-wrapper em {
  margin-left: 10px;
  font-size: 0.8rem;
}

.theme-switch {
  display: inline-block;
  height: 17px;
  position: relative;
  width: 34px;
}

.theme-switch input {
  display: none;
}

.slider {
  background-color: #ccc;
  bottom: 0;
  cursor: pointer;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  transition: .4s;
}

.slider:before {
  background-color: #fff;
  bottom: 2px;
  content: "";
  height: 13px;
  left: 2px;
  position: absolute;
  transition: .4s;
  width: 13px;
}

.theme-switch .slider.checked {
  background-color: #1a1c21;
  background-color: #4e5464;
}

.theme-switch .slider.checked:before {
  background-color: #e4e5ed;
  transform: translateX(17px);
}

.theme-switch .slider.round {
  border-radius: 34px;
}

.theme-switch .slider.round:before {
  border-radius: 50%;
}
