div.textbit-contexttools-menu {
  display: flex;
  flex-direction: row;
  user-select: none;
  left: 0.5rem;
  box-sizing: border-box;

  margin-top: -8px;
  padding: 0 3px;
  transition: opacity,z-index 0.15s cubic-bezier(.25, .8, .25, 1);
  border-radius: calc(var(--radius) * 0.8);
  background-color: hsl(var(--popover));
  box-shadow: 0px 3px 10px -6px hsl(var(--foreground));
  color: hsl(var(--popover-foreground));
}

.dark div.textbit-contexttools-menu {
  box-shadow: none;
  border: 1px solid hsl(var(--border))
}

/* Arrow indicator */
div.textbit-contexttools-menu:after {
  content: "";
  width: 0px;
  height: 0px;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-top: 8px solid hsl(var(--popover));
  position: absolute;
  bottom: -7px;
  left: 50%;
  margin-left: -8px;
}

/* Tool group */
div.textbit-contexttools-group {
  display: flex;
  flex-direction: row;
  padding: 3px 0px;
}

div.textbit-contexttools-group::after {
  content: "";
  background-color: hsl(var(--border));
  align-self: stretch;
  margin: 6px 2px;
  width: 1px;
}

div.textbit-contexttools-group:last-child::after {
  display: none;
}



/* Items in tool groups */
div.textbit-contexttools-item {
  display: block;
  text-align: center;
  padding: 6px 8px;
  cursor: pointer;
  font-size: 1.3rem;
  position: relative;
  border-radius: calc(var(--radius) * 0.8 - 3px);
}

div.textbit-contexttools-item[data-state="active"]:after {
  content: "";
  position: absolute;
  height: 3px;
  left: 10%;
  right: 10%;
  bottom: 3px;
  border-radius: calc(var(--radius) * 0.8 - 4px);
  background-color: hsl(var(--primary));
  opacity: 0.5;
}

div.textbit-contexttools-item:hover {
  background: hsl(var(--secondary));
}

div.textbit-contexttools-item>svg {
  vertical-align: middle;
  color: hsl(var(--popover-foreground));
}
