body {
    background-color: #f5f5f5;
}

/* Example for setting editor properties */
div[role="textbox"] {
    padding: '10px',
}

/* Focused editor */
div[data-state="focused"] {
    outline: rgba(0, 123, 255, .5) solid 2px;
    outline-offset: 2px;
    border-radius: 4px;
}

/* Spelling error */
[data-spelling-error] {
    border-bottom: 1px dotted red;
}

/* Spelling suggestion */
[data-spelling-level='suggestion'] {
    border-bottom: 1px dotted cornflowerblue;
}
