.textbit-y-overlay {
  display: flex;
  position: relative;
  justify-content: center;
  margin: 8rem 2.5rem;
}

.textbit-y-selection {
  position: absolute;
  pointer-events: none;
}

.textbit-y-caret {
  position: absolute;
}

.textbit-y-caret>div {
  position: absolute;
  font-family: var(--font-family-ui);
  font-size: 80%;
  color: hsl(var(--foreground));
  border-radius: calc(var(--radius) * 0.8);
  transform: translateY(-91%);
  width: max-content;
  padding: 0px 6px 1px 6px;
  opacity: 0.9;
  white-space: nowrap;
  top: 0;
  border-bottom-left-radius: 0;
}

.dark .textbit-y-caret>div {
  box-shadow: none;
  border: 1px solid hsl(var(--border));
}
